<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Browser</title>
</head>

<body>
    <form>
        <fieldset disabled>
          <legend>Vaccination Form</legend>
          <div class="mb-3">
            <label for="name" class="form-label">Id</label>
            <input type="text" name=id id="id" class="form-control" placeholder="enter your id">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name=name id="name" class="form-control" placeholder="enter your name">
          </div>
          <div class="mb-3">
            <label for="number" class="form-label">Number</label>
            <input type="text" name=number id="number" class="form-control" placeholder="enter your number">
          </div>
          <div class="mb-3">
            <label for="governmentidproof" class="form-label">Government Id Proof</label>
            <input type="text" name=governmentidproof id="name" class="form-control" placeholder="enter your id proof">
          </div>
          <div class="mb-3">
            <label for="vaccinationtype" class="form-label">Vaccination Type</label>
            <select id="vaccinationtype" class="form-select">
              <option>Covaxin</option>
              <option>Covishield</option>
              
            </select>
          </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
</body>

</html>







